<?xml version="1.0" encoding="UTF-8"?>

<!-- Example of what the config file MIGHT look like -->
<jrest>	

	<!-- Configuration settings for application metadata -->
	<application>
		<name>
			ExampleApp
		</name>
		<description>
			Example of what a jREST application might look like
		</description>
	</application>
	
	<!-- Configuration for the Controllers -->
	<controllers>
		<package>
			com.example.controllers
		</package>
		<package>
			com.example.other.controllers
		</package>
		<package>
			com.example.dang.stuff.example.things.controllers
		</package>
	</controllers>
	
	<!-- Configuration for errors -->
	<errors>
		<custom-response>
			<code>404</code>
			<phrase>Couldn't find the damn thing and stuff</phrase>
		</custom-response>		
		<custom-response>
			<code>500</code>
			<phrase>You broke my machine!</phrase>
			<file>500.html</file>
		</custom-response>
	</errors>
	
	<!-- Configuration for server -->
	<server>
		<port>
			9090
		</port>
		<timeout>
			10000
		</timeout>
		<authentication>
			<disable/>
		</authentication>
		<cors-policy>
			<allow>
				<origin>
					https://localhost:9090
				</origin>
			</allow>
			<deny>
				https://www.evilwebsite.com
			</deny>
		</cors-policy>
		<session>
			<cookie>
				<key>jrest-session</key>
			</cookie>
			<length>
				3600
			</length>
		</session>
	</server>
	
	<!-- Configuraion for logging -->
	<logging>
		<output>
			<default>
				C:/jrest/logs
			</default>
			<error>
				C:/jrest/logs/error.txt
			</error>
			<exception>
				C:/jrest/logs/exception.txt
			</exception>
			<debug>
				C:/jrest/logs/debug.txt
			</debug>
			<info>
				CONSOLE
			</info>
		</output>
	</logging>
	
</jrest>
	
	
	